{{#each articles}}
<div class="container">
<div id="accordion" role="tablist">
  <div class="card">
 
    <div class="card-header text-center" role="tab" id="headingOne">
      <h5 class="mb-0">
        <b>{{title}}</b>
        <p>Deal is from {{summary}} website.<i>Click <a href="{{link}}" target="_new">here</a> for the link.</i></p>
        <p>Deal posted on : {{updated}}<p>
      </h5>
    </div>
 
    <div class="card-body" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse{{_id}}" aria-expanded="true" aria-controls="collapseOne">
          NOTES
        </a>
      </h5>
    </div> 
 
    <div id="collapse{{_id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{#if notes}}
                <ul>
                {{#each notes}}
                   <li>
                      <b>{{title}}</b> &nbsp - &nbsp {{content}} &nbsp
                      <span class="badge">
                      <form id="form-delete-{{_id}}" action="remove/note/{{_id}}" method="post">
                      <input class="btn-small deleteNote" data-id="{{_id}}" type="submit" value="DELETE" style="color: white; background-color: red; border-color: red;">
                      </form>
                      </span>
                   </li>
                {{/each}}
                </ul>
                {{else}}
          <p>No Notes</p>
        {{/if}}
 
        <!-- add note -->
       
        <h6>Add a Note</h6>
        <hr>
        <form id="form-add-{{_id}}" action="add/note/{{_id}}" method="post" style="background-color: white;">
           <label>Note Title:</label>
           <input name="title" type="text" class="form-control form-control-sm">
           <label for="comment_box">Your Note:</label>
           <textarea class="form-control" id="comment_box" name="note" rows="3"></textarea>
           <input class="btn addNote" data-id="{{_id}}" type="submit" value="SAVE">
        </form>
      </div>
    </div> 
  
  </div> <!-- end card -->
</div> <!-- end accordion -->
</div> <!-- end container -->
<br>
{{/each}}